
@import 'C:/xampp/htdocs/ProjetCaravane/node_modules/bootstrap/scss/bootstrap.scss';
$success:#72a333;
$theme-colors: (
  "success": $success
);
* {
    z-index:1;
    font-family: 'Manrope',sans serif;
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}

#flash {
   
    margin:0px 50px;
}

#contratsArchives {
    display:none;
}

#navBar{
    display:flex;
    justify-content:flex-end;
    width:1080px;
    height: 64px;
}

#logo{
    max-width: 50px;
    height:40px;
    border:0;
    margin-right: auto;
}
#logo img{
    max-width: 100%;
    height:100%;

}

#etapes{
    width:500px;
}
#etapes img{
    width:100%;
    border-color:#72a333;
}


#etapes .figure-caption{
    background-color: #72a333;
    
}

#etapes .figure img{
    width:100%;
}
#navBar .w3-button{
    background-color:#72a333;
    color:white;
}

.paragraphe{
    font-size: 21px ;
    text-align:center;
}

.titre{
    
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}