{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <p>Les contrats suivant doivent etre payé aujourd'hui:</p>
  {% for contrat in alerte %}
    {{ contrat.client.nom }}
    {{ contrat.client.prenom }}
  {% endfor %}
  
{% endblock %}