
<div class="w3-bar w3-light-grey">
<a href="{{path('app_index')}}" class="w3-bar-item w3-button w3-green">Accueil</a>
<a href="" class="w3-bar-item w3-button w3-green">Avantages</a>

{% if is_granted ('ROLE_USER')%}
     <div class="w3-dropdown-hover">
     <button class="w3-button">Vos options</button>
    {% if is_granted ('ROLE_ADMIN')%}
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="{{path('admin_backoffice')}}" class="w3-bar-item w3-button">Clients</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    
    

    {% else %}
    
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>

    {% endif %}
    </div>

{% else %}
    <a href="{{ path('app_register')}}" class="w3-bar-item w3-button w3-green">S'inscrire</a>
    <a href="{{ path('app_login')}}" class="w3-bar-item w3-button w3-green">Se connecter</a>
{% endif %}
</div>