<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-green">Clients</a>
    
   
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
  </div>